@import "tailwindcss";

:root {
  --background: rgb(209, 221, 253);
  --text: rgb(59, 79, 125);
  /* --primary: rgb(37, 99, 235);
  --primary-subtle: rgb(37, 99, 235, 0.1);
  --success: rgb(22, 163, 74);
  --success-subtle: rgb(22, 163, 74, 0.1);
  --destructive: rgb(220, 38, 38);
  --destructive-subtle: rgb(220, 38, 38, 0.1);
  --warning: rgb(217, 119, 6);
  --warning-subtle: rgb(217, 119, 6, 0.1);
  --neutral: rgb(82, 82, 82);
  --neutral-subtle: rgb(82, 82, 82, 0.1); */
}

@theme {

  --color-primary: rgb(37 99 235);
  --color-primary-subtle: rgb(37 99 235 / 0.1);

  --color-success: rgb(22 163 74);
  --color-success-subtle: rgb(22 163 74 / 0.1);

  --color-destructive: rgb(220 38 38);
  --color-destructive-subtle: rgb(220 38 38 / 0.1);

  --color-warning: rgb(217 119 6);
  --color-warning-subtle: rgb(217 119 6 / 0.1);

  --color-neutral: rgb(82 82 82);
  --color-neutral-subtle: rgb(82 82 82 / 0.1);
  
}



body {
  color: var(--text);
  background-color: var(--background);
}

.neu {
  box-shadow: 4px 4px 7px #c7d2f0,
    -4px -4px 7px #dbe8ff;
}

.neu_inner {
  background: var(--background);
  box-shadow: inset 4px 4px 7px #c7d2f0,
    inset -4px -4px 7px #dbe8ff;
}